* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f0eef1;
}

nav {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
}

.navbar {
  width: 60%;
  margin: 0 auto;
  height: 85px;
  display: flex;
  align-items: center;
  background-color: white;
  
}

.navbar h2 {
  font-size: 40px;
}

.display {
  background-color: #f0eef1;
}